:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);

  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
  background-color: rgb(250, 250, 250);
}

body {
  height: 100vh;
}

img {
  max-width: 100%;
}

/* Utility */

.bg-Y1 {
  background-color: var(--Yellow-100);
}

.bg-Y5 {
  background-color: var(--Yellow-500);
}

.bg-P1 {
  background-color: var(--Purple-100);
}

.bg-P5 {
  background-color: var(--Purple-500);
}

.bg-W {
  background-color: white;
}

.bg-B {
  background-color: black;
}

.c-Y1 {
  color: var(--Yellow-100);
}

.c-Y5 {
  color: var(--Yellow-500);
}

.c-P1 {
  color: var(--Purple-100);
}

.c-P5 {
  color: var(--Purple-500);
}

.c-W {
  color: white;
}

.c-B {
  color: black;
}

/* Grid */

.container {
  /* height: 100%; */
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

  /* background-color: saddlebrown; */

  .card {
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;

    .card-text {
      font-size: xx-large;
      font-weight: 500;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
