:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);

  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

html {
  background-color: rgb(235, 235, 235);
}

body {
  height: 100vh;
}

img {
  max-width: 100%;
  /* object-fit: contain; */
  /* aspect-ratio: 1/1; */
}

/* Utility */

.bg-Y1 {
  background-color: var(--Yellow-100);
}

.bg-Y5 {
  background-color: var(--Yellow-500);
}

.bg-P1 {
  background-color: var(--Purple-100);
}

.bg-P5 {
  background-color: var(--Purple-500);
}

.bg-W {
  background-color: white;
}

.bg-B {
  background-color: black;
}

.c-Y1 {
  color: var(--Yellow-100);
}

.c-Y5 {
  color: var(--Yellow-500);
}

.c-P1 {
  color: var(--Purple-100);
}

.c-P5 {
  color: var(--Purple-500);
}

.c-W {
  color: white;
}

.c-B {
  color: black;
}

.f-4 {
  font-weight: 400;
}

.f-5 {
  font-weight: 500;
}

/* Grid */

.container {
  height: 100%;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)); */
  grid-template-columns: repeat(4, minmax(10rem, 20rem));
  grid-template-rows: repeat(6, minmax(10rem, 1fr));

  grid-template-areas:
    'card-1 card-2 card-2 card-3'
    'card-1 card-2 card-2 card-3'
    'card-1 card-4 card-5 card-3'
    'card-6 card-4 card-5 card-3'
    'card-6 card-7 card-8 card-8'
    'card-6 card-7 card-8 card-8';

  .card {
    display: grid;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;

    .card-h2 {
      font-size: 2em;
      font-weight: 400;
    }

    .card-text {
      font-size: 1em;
      font-weight: 400;
    }
  }

  .card-1 {
    grid-area: card-1;
  }

  .card-2 {
    grid-area: card-2;
    /* font-size: xx-large; */
  }

  .card-3 {
    grid-area: card-3;
  }

  .card-4 {
    grid-area: card-4;
  }

  .card-5 {
    grid-area: card-5;
  }

  .card-6 {
    grid-area: card-6;
  }

  .card-7 {
    grid-area: card-7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1rem;
    /* padding-top: 5rem; */
    text-align: center;

    .card-h2 {
      font-size: 4rem;
    }
  }

  .card-8 {
    grid-area: card-8;
    display: flex;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
